Repository MarquezProject/marquez, pull requests merged in 2022-11, with the labels that each got.

#2211 optimizing current runs query for lieage api
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/mappers/RunMapper.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/test/java/marquez/api/OpenLineageResourceTest.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
Labels: api

#2231 Appreciate column prefix when given for ended_at
  api/src/main/java/marquez/db/mappers/RunMapper.java
Labels: api

#2221 [Docs] fix typos in root docs
  CHANGELOG.md
  COMMITTERS.md
  CONTRIBUTING.md
  README.md
Labels: docs, web

#2237 add governance and dco docs
  GOVERNANCE.md
  README.md
  why-the-dco.md
Labels: docs

#2241 add code quality doc to project
  CODE_QUALITY_AND_SECURITY.md
Labels: docs

#2212 Cloud Logo
  web/src/components/header/Header.tsx
Labels: web

#2250 [DOCS] Add deployment security expectations
  docs/deployment-overview.md
Labels: docs, review

#2217 fix symlink table column length
  api/src/main/resources/marquez/db/migration/V48__dataset_symlinks.sql
  api/src/main/resources/marquez/db/migration/V52__alter_dataset_symlinks.sql
Labels: api

#2203 Search service proposal
  proposals/2180-search-service.md
  proposals/assets/images/search_service_architecture.png
Labels: docs, proposal

#2244 delete: add endpoint for deleting namespaces
  .github/workflows/headerchecker.yml
  CHANGELOG.md
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/api/NamespaceResource.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/NamespaceDao.java
  api/src/main/java/marquez/db/mappers/NamespaceMapper.java
  api/src/main/java/marquez/db/mappers/NamespaceRowMapper.java
  api/src/main/java/marquez/db/models/NamespaceRow.java
  api/src/main/java/marquez/service/models/Namespace.java
  api/src/main/resources/marquez/db/migration/V53__add_hidden_namespace.sql
  api/src/test/java/marquez/DatasetIntegrationTest.java
  api/src/test/java/marquez/NamespaceIntegrationTest.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
  api/src/test/java/marquez/PostgresContainer.java
  api/src/test/java/marquez/db/ColumnsTest.java
  api/src/test/java/marquez/db/DatasetDaoTest.java
  api/src/test/java/marquez/db/migrations/V44_2__BackfillAirflowParentRunsTest.java
  api/src/test/java/marquez/db/migrations/V44_3_BackfillJobsWithParentsTest.java
  api/src/test/java/marquez/db/models/DbModelGenerator.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/models/Namespace.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/MarquezHttpTest.java
  clients/java/src/test/java/marquez/client/models/JsonGenerator.java
  clients/java/src/test/java/marquez/client/models/ModelGenerator.java
  codecov.yml
  web/src/store/reducers/namespaces.ts
  web/src/types/api.ts
Labels: docs, api, web, client/java

#2246 prepare changelog for 0.28.0
  CHANGELOG.md
Labels: docs

#2193 point in time proposal
  proposals/2117-marquez-over-time.md
Labels: docs, proposal

#2249 UI: Raw Event Viewer
  web/package-lock.json
  web/package.json
  web/setupProxy.js
  web/src/components/App.tsx
  web/src/components/core/code/MqJson.tsx
  web/src/components/core/date-picker/MqDatePicker.tsx
  web/src/components/core/icon-button/MqIconButton.tsx
  web/src/components/sidenav/Sidenav.tsx
  web/src/helpers/index.ts
  web/src/helpers/time.ts
  web/src/img/iconSearchArrow.svg
  web/src/routes/events/Events.tsx
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/events.ts
  web/src/store/reducers/index.ts
  web/src/store/requests/events.ts
  web/src/store/requests/index.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
Labels: web
