Repository MarquezProject/marquez, pull requests merged in 2022-09, with the labels that each got.

#2097 Update OpenLineageDao to handle airflow run uuid conflicts
  api/src/main/java/marquez/common/Utils.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
  api/src/test/java/marquez/graphql/GraphqlTest.java
  api/src/test/resources/open_lineage/event_required_nanoseconds.json
  api/src/test/resources/open_lineage/event_required_no_timezone.json
  api/src/test/resources/open_lineage/event_required_only.json
  api/src/test/resources/open_lineage/event_simple.json
  api/src/test/resources/open_lineage/listener/1.json
  api/src/test/resources/open_lineage/listener/2.json
Labels: api

#2032 delete: add possibility to soft-delete datasets and jobs
  api/src/main/java/marquez/api/DatasetResource.java
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/SearchDao.java
  api/src/main/java/marquez/graphql/GraphqlDaos.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/resources/marquez/db/migration/R__1_Jobs_view_and_rewrite_function.sql
  api/src/main/resources/marquez/db/migration/R__3_Datasets_view.sql
  api/src/main/resources/marquez/db/migration/V46__add_hidden_column_to_jobs_and_datasets.sql
  api/src/test/java/marquez/BaseIntegrationTest.java
  api/src/test/java/marquez/DatasetIntegrationTest.java
  api/src/test/java/marquez/common/api/JobResourceIntegrationTest.java
  api/src/test/java/marquez/db/DatasetDaoTest.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  build.gradle
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/MarquezHttp.java
  clients/java/src/test/java/marquez/client/MarquezHttpTest.java
  docker-compose.yml
  docker/entrypoint.sh
Labels: api, client/java, docker

#2098 Load testing docs
  docs/load-testing-architecture.png
  docs/load-testing.md
Labels: docs, review

#2099 openapi: add delete endpoints
  spec/openapi.yml
Labels: spec

#2077 Create column lineage endpoint proposal
  proposals/2045-column-lineage-endpoint.md
Labels: docs, proposal

#2101 deletes: 'undelete' job on subsequent OL event
  CHANGELOG.md
  api/src/main/resources/marquez/db/migration/R__1_Jobs_view_and_rewrite_function.sql
  api/src/test/java/marquez/service/OpenLineageServiceIntegrationTest.java
Labels: docs, api

#2121 document in code that JobDao.upsertJob executes trigger
  api/src/main/java/marquez/db/JobDao.java
Labels: api

#2070 add raw OpenLineage get event API
  CHANGELOG.md
  api/build.gradle
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/api/models/SortDirection.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/resources/marquez/db/migration/V47__add_lineage_event_indexes.sql
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
  api/src/test/java/marquez/api/OpenLineageResourceTest.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/jdbi/JdbiExternalPostgresExtension.java
  api/src/test/java/marquez/jdbi/MarquezJdbiExternalPostgresExtension.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/MarquezPathV1.java
  clients/java/src/main/java/marquez/client/MarquezUrl.java
  clients/java/src/main/java/marquez/client/models/LineageEvent.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/python/marquez_client/client.py
  clients/python/tests/test_marquez_client.py
  spec/openapi.yml
Labels: docs, api, client/java, client/python, spec

#2112 [Documentation] add changes to changelog for 0.26.0
  CHANGELOG.md
Labels: docs

#2125 Notify run transition event to the listener
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/test/java/marquez/service/OpenLineageServiceIntegrationTest.java
Labels: api

#2126 Add fix and tests for handling Airflow dags with dots and task groups
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
Labels: api

#2129 Bug/version bump in docker up.sh
  .env.example
  chart/values.yaml
  docker/up.sh
  new-version.sh
Labels: chart, docker

#2130 Add parentRun alias to LineageEvent RunFacet to support older OpenLin…
  CHANGELOG.md
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
Labels: docs, api

#2132 Fixes issue: #2131
  spec/openapi.yml
Labels: docs, spec

#2128 [Docs] Add Github workflow to check for header in source code
  .github/workflows/headerchecker.yml
Labels: api

#2145 Use `clean` when running `shadowJar` in Dockerfile
  .dockerignore
  Dockerfile
  docker/entrypoint.sh
Labels: review, docker

#2144 Update insert job function to avoid joining on symlinks for jobs that have no symlinks
  api/src/main/resources/marquez/db/migration/R__1_Jobs_view_and_rewrite_function.sql
  api/src/test/java/marquez/db/LineageDaoTest.java
Labels: api

#2087 dataset symlinks provided
  CHANGELOG.md
  api/src/main/java/marquez/db/BaseDao.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetSymlinkDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/mappers/DatasetSymlinksRowMapper.java
  api/src/main/java/marquez/db/models/DatasetSymlinkRow.java
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/main/resources/marquez/db/migration/R__3_Datasets_view.sql
  api/src/main/resources/marquez/db/migration/V48__dataset_symlinks.sql
  api/src/test/java/marquez/db/DatasetDaoTest.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/db/RunDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
Labels: docs, api

#2096 Model and store column lineage in Marquez DB
  CHANGELOG.md
  api/src/main/java/marquez/db/BaseDao.java
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/mappers/ColumnLineageRowMapper.java
  api/src/main/java/marquez/db/mappers/FieldDataMapper.java
  api/src/main/java/marquez/db/models/ColumnLineageRow.java
  api/src/main/java/marquez/db/models/InputFieldData.java
  api/src/main/java/marquez/db/models/UpdateLineageRow.java
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/main/resources/marquez/db/migration/V49__column_lineage.sql
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
Labels: docs, api, column-level-lineage

#2146 Display current run state for job node in lineage graph
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetVersions.tsx
  web/src/components/jobs/RunInfo.tsx
  web/src/components/jobs/Runs.tsx
  web/src/components/lineage/components/node/Node.tsx
  web/src/components/sidenav/Sidenav.tsx
  web/src/helpers/theme.ts
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/jobs/Jobs.tsx
  web/src/types/api.ts
Labels: review, web
