Repository MarquezProject/marquez, pull requests merged in 2022-10, with the labels that each got.

#2162 Fix bug that caused a single run event to create multiple jobs
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
Labels: api

#2124 Column lineage graph endpoint
  CHANGELOG.md
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/api/BaseResource.java
  api/src/main/java/marquez/api/ColumnLineageResource.java
  api/src/main/java/marquez/common/models/DatasetFieldId.java
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/mappers/ColumnLineageNodeDataMapper.java
  api/src/main/java/marquez/db/mappers/ColumnLineageRowMapper.java
  api/src/main/java/marquez/db/models/ColumnLineageNodeData.java
  api/src/main/java/marquez/db/models/ColumnLineageRow.java
  api/src/main/java/marquez/db/models/InputFieldNodeData.java
  api/src/main/java/marquez/db/models/NodeData.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/main/java/marquez/service/DelegatingDaos.java
  api/src/main/java/marquez/service/ServiceFactory.java
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/main/java/marquez/service/models/Node.java
  api/src/main/java/marquez/service/models/NodeId.java
  api/src/main/java/marquez/service/models/NodeType.java
  api/src/main/resources/marquez/db/migration/V49__column_lineage.sql
  api/src/main/resources/marquez/db/migration/V50__index_dataset_fields.sql
  api/src/test/java/marquez/api/ApiTestUtils.java
  api/src/test/java/marquez/api/ColumnLineageResourceTest.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
  api/src/test/java/marquez/db/ColumnLineageTestUtils.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
  api/src/test/java/marquez/service/models/NodeIdTest.java
  api/src/test/resources/column_lineage/node.json
Labels: docs, api, column-level-lineage

#2176 fix column lineage returning multiple entries for job run multiple times
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
Labels: api, column-level-lineage

#2148 include column lineage in dataset resource
  CHANGELOG.md
  api/src/main/java/marquez/api/DatasetResource.java
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/main/java/marquez/service/models/ColumnLineage.java
  api/src/main/java/marquez/service/models/ColumnLineageInputField.java
  api/src/main/java/marquez/service/models/Dataset.java
  api/src/main/java/marquez/service/models/DbTable.java
  api/src/main/java/marquez/service/models/Stream.java
  api/src/test/java/marquez/DatasetIntegrationTest.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
  api/src/test/java/marquez/api/JdbiUtils.java
  api/src/test/java/marquez/common/api/JobResourceIntegrationTest.java
  api/src/test/java/marquez/db/ColumnLineageTestUtils.java
  api/src/test/java/marquez/db/DatasetDaoTest.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/db/RunDaoTest.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  clients/java/src/main/java/marquez/client/models/ColumnLineage.java
  clients/java/src/main/java/marquez/client/models/ColumnLineageInputField.java
  clients/java/src/main/java/marquez/client/models/Dataset.java
  clients/java/src/main/java/marquez/client/models/DbTable.java
  clients/java/src/main/java/marquez/client/models/Stream.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/models/ModelGenerator.java
Labels: docs, api, column-level-lineage, client/java

#2159 Downstream column lineage
  CHANGELOG.md
  api/src/main/java/marquez/api/ColumnLineageResource.java
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/test/java/marquez/api/ColumnLineageResourceTest.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
Labels: docs, api, column-level-lineage, client/java

#2178 Fixing api spec issues.
  spec/openapi.yml
Labels: review, spec

#2181 fix downstream recursion
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
Labels: api, column-level-lineage

#2184 drop and create datasets_view
  api/src/main/resources/marquez/db/migration/R__3_Datasets_view.sql
Labels: api

#2163 Column lineage java client
  CHANGELOG.md
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/test/java/marquez/ColumnLineageIntegrationTest.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/MarquezPathV1.java
  clients/java/src/main/java/marquez/client/MarquezUrl.java
  clients/java/src/main/java/marquez/client/Utils.java
  clients/java/src/main/java/marquez/client/models/ColumnLineage.java
  clients/java/src/main/java/marquez/client/models/ColumnLineageNodeData.java
  clients/java/src/main/java/marquez/client/models/DatasetFieldId.java
  clients/java/src/main/java/marquez/client/models/Edge.java
  clients/java/src/main/java/marquez/client/models/Node.java
  clients/java/src/main/java/marquez/client/models/NodeData.java
  clients/java/src/main/java/marquez/client/models/NodeId.java
  clients/java/src/main/java/marquez/client/models/NodeType.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/MarquezPathV1Test.java
  clients/java/src/test/java/marquez/client/MarquezUrlTest.java
  clients/java/src/test/java/marquez/client/UtilsTest.java
  clients/java/src/test/java/marquez/client/models/EdgeTest.java
  clients/java/src/test/java/marquez/client/models/NodeIdTest.java
Labels: docs, api, column-level-lineage, client/java

#2161 Adding indices on jobs table
  api/src/main/resources/marquez/db/migration/V51__job_indices_for_lineage.sql
Labels: api

#2186 Update jobs_current_version_uuid_index and jobs_symlink_target_uuid_index to ignore NULL values
  api/src/main/resources/marquez/db/migration/V51__job_indices_for_lineage.sql
Labels: api

#2190 Include external_id column to ExtendedRunRow model
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/mappers/ExtendedRunRowMapper.java
  api/src/main/java/marquez/db/models/ExtendedRunRow.java
Labels: api

#2196 Update external_id column when run gets updated
  api/src/main/java/marquez/db/RunDao.java
  api/src/test/java/marquez/db/RunDaoTest.java
Labels: api

#2197 Build with Node 18 and remove `react-viz`
  web/package-lock.json
  web/package.json
  web/src/components/App.tsx
  web/src/components/header/Header.tsx
  web/src/fonts/SourceCodePro/SourceCodePro-Bold.ttf
  web/src/fonts/SourceCodePro/SourceCodePro-Regular.ttf
  web/src/index.css
  web/src/index.html
  web/src/index.prod.html
  web/src/index.tsx
  web/src/react-vis.d.ts
  web/webpack.common.js
Labels: web

#2192 document column lineage endpoint
  spec/openapi.yml
Labels: spec

#2175 Fixes the incorrect name and format of the parameters before and after
  spec/openapi.yml
Labels: docs, api, spec

#2205 increase size of column-lineage.description column
  api/src/main/resources/marquez/db/migration/V49__column_lineage.sql
Labels: api, column-level-lineage

#2204 get column lineage by job
  CHANGELOG.md
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/test/java/marquez/ColumnLineageIntegrationTest.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/MarquezUrl.java
  clients/java/src/main/java/marquez/client/models/NodeId.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/MarquezUrlTest.java
  clients/java/src/test/java/marquez/client/models/NodeIdTest.java
Labels: docs, api, column-level-lineage, client/java

#2209 python client for column lineage API
  CHANGELOG.md
  clients/python/marquez_client/client.py
  clients/python/marquez_client/constants.py
  clients/python/tests/test_marquez_client.py
Labels: docs, client/python

#2187 [Docs] prepare changelog for 0.27.0 release
  CHANGELOG.md
Labels: docs

#2214 Show facets even when dataset has no fields.
  web/src/components/datasets/DatasetInfo.tsx
Labels: web
