Repository MarquezProject/marquez, pull requests merged in 2022-12, with the labels that each got.

#2265 point-in-time endpoint for column-level lineage
  CHANGELOG.md
  api/src/main/java/marquez/api/ColumnLineageResource.java
  api/src/main/java/marquez/common/models/DatasetFieldVersionId.java
  api/src/main/java/marquez/common/models/JobVersionId.java
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/main/java/marquez/db/mappers/ColumnLineageNodeDataMapper.java
  api/src/main/java/marquez/db/mappers/PairUuidInstantMapper.java
  api/src/main/java/marquez/db/models/ColumnLineageNodeData.java
  api/src/main/java/marquez/db/models/InputFieldNodeData.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/main/java/marquez/service/models/NodeId.java
  api/src/test/java/marquez/api/ColumnLineageResourceTest.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
  api/src/test/java/marquez/db/ColumnLineageTestUtils.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
  api/src/test/java/marquez/service/models/NodeIdTest.java
Labels: docs, api

#2271 Include error message for JSON processing exception
  CHANGELOG.md
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/api/exceptions/JsonProcessingExceptionMapper.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
Labels: docs, api

#2272 Allow null column type in column-lineage
  CHANGELOG.md
  api/src/main/java/marquez/db/mappers/ColumnLineageNodeDataMapper.java
  api/src/main/java/marquez/db/models/ColumnLineageNodeData.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
Labels: docs, api

#2280 Add raw link to `iconSearchArrow.svg`
  web/src/components/sidenav/Sidenav.tsx
Labels: review, web

#2289 fix column lineage when multiple jobs write to same dataset
  CHANGELOG.md
  api/src/main/java/marquez/db/ColumnLineageDao.java
  api/src/main/java/marquez/db/mappers/ColumnLineageNodeDataMapper.java
  api/src/main/java/marquez/db/models/ColumnLineageNodeData.java
  api/src/main/java/marquez/db/models/InputFieldNodeData.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/main/java/marquez/service/models/ColumnLineage.java
  api/src/main/java/marquez/service/models/ColumnLineageInputField.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
  api/src/test/java/marquez/db/models/ColumnLineageNodeDataTest.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
  api/src/test/java/marquez/service/models/ColumnLineageTest.java
  clients/java/src/main/java/marquez/client/models/ColumnLineage.java
  clients/java/src/main/java/marquez/client/models/ColumnLineageInputField.java
  clients/java/src/main/java/marquez/client/models/ColumnLineageNodeData.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
Labels: docs, api, client/java

#2294 Refactoring for display column lineage JSON
  web/src/components/datasets/DatasetColumnLineage.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/store/actionCreators/index.ts
Labels: web

#2296 Fill run state of the parent run when it is created by child run
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
Labels: api

#2254 add i18next and config for i18n of UI
  web/package-lock.json
  web/package.json
  web/src/components/core/input-base/MqInputBase.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetVersions.tsx
  web/src/components/header/Header.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/components/jobs/RunInfo.tsx
  web/src/components/jobs/Runs.tsx
  web/src/components/lineage/Lineage.tsx
  web/src/components/namespace-select/NamespaceSelect.tsx
  web/src/components/search/SearchPlaceholder.tsx
  web/src/components/sidenav/Sidenav.tsx
  web/src/i18n/config.ts
  web/src/index.tsx
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/events/Events.tsx
  web/src/routes/jobs/Jobs.tsx
  web/src/types/i18next.d.ts
  web/src/types/index.ts
  web/tsconfig.json
Labels: docs, web

#2299 adding indexed created_at column to lineage events table
  api/src/main/resources/marquez/db/migration/V54__lineage_events_created_at_indexed.sql
Labels: api

#2315 reconfigure `html-webpack-plugin` and fix dependencies to fix i18next
  web/package-lock.json
  web/package.json
  web/src/components/search/SearchPlaceholder.tsx
  web/src/components/sidenav/Sidenav.tsx
  web/src/i18n/config.ts
  web/src/index.tsx
  web/src/types/i18next.d.ts
  web/src/types/index.ts
  web/webpack.prod.js
Labels: web

#2253 Ensure job data in lineage query is not null or empty
  api/src/main/java/marquez/api/BaseResource.java
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/test/java/marquez/api/OpenLineageResourceTest.java
Labels: review, api

#2269 Column lineage point in time java client
  CHANGELOG.md
  api/src/test/java/marquez/ColumnLineageIntegrationTest.java
  api/src/test/java/marquez/service/models/NodeIdTest.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/MarquezUrl.java
  clients/java/src/main/java/marquez/client/models/DatasetFieldVersionId.java
  clients/java/src/main/java/marquez/client/models/DatasetVersionId.java
  clients/java/src/main/java/marquez/client/models/NodeId.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/MarquezUrlTest.java
  clients/java/src/test/java/marquez/client/models/NodeIdTest.java
Labels: docs, api, client/java

#2305 Make name and type required for datasets in spec
  spec/openapi.yml
Labels: spec

#2318 hack day adding debezium cdc
  api/build.gradle
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/cdc/CaptureChangeEvents.java
Labels: api

#2319 Remove unused filter on `RunDao.updateStartState()`
  api/src/main/java/marquez/db/RunDao.java
Labels: review, api

#2325 manage eslint errors on accented characters
  web/.eslintrc.js
  web/src/i18n/config.ts
  web/src/types/i18next.d.ts
Labels: web

#2321 redo event viewer icon fix
  web/src/components/sidenav/Sidenav.tsx
Labels: web

#2322 Web/update lint
  .circleci/config.yml
  web/src/components/core/date-picker/MqDatePicker.tsx
  web/src/components/jobs/Runs.tsx
  web/src/components/search/SearchPlaceholder.tsx
  web/src/helpers/index.ts
  web/src/helpers/time.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/events.ts
  web/src/store/reducers/index.ts
  web/src/store/requests/events.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
  web/src/types/index.ts
Labels: web

#2323 Fix asset loading for web
  web/src/components/header/Header.tsx
  web/src/components/header/marquez_logo.svg
  web/styles.d.ts
  web/tsconfig.json
  web/webpack.common.js
Labels: web

#2324 Updates for some styling synchronization.
  web/src/components/core/date-picker/MqDatePicker.tsx
  web/src/components/core/input-base/MqInputBase.tsx
  web/src/routes/events/Events.tsx
Labels: web

#2334 add missing newlines to changelog
  CHANGELOG.md
Labels: docs

#2076 Add proposal for ol facet tables
  proposals/2078-optimization-ol-facets.md
Labels: docs, proposal

#2293 present column lineage of a dataset
  CHANGELOG.md
  web/src/components/bottom-bar/BottomBar.tsx
  web/src/components/datasets/DatasetColumnLineage.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/sidenav/Sidenav.tsx
  web/src/i18n/config.ts
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/dataset.ts
  web/src/store/reducers/index.ts
  web/src/store/requests/datasets.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
Labels: docs, api, web, javascript, chart, client/java, client/python, docker
