Repository MarquezProject/marquez, pull requests merged in 2023-01, with the labels that each got.

#2342 validate RunLink and JobLink
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
Labels: api

#2326 Add CI workflow for testing db migrations
  .circleci/config.yml
  .circleci/db-migration.sh
  .circleci/get-docker-compose.sh
  chart/README.md
  docker-compose.db.yml
  docker-compose.dev.yml
  docker-compose.web-dev.yml
  docker-compose.web.yml
  docker-compose.yml
  docker/prune.sh
  docker/up.sh
  docker/volumes.sh
  new-version.sh
Labels: docs, chart, docker, hackday

#2343 Soft delete of jobs and datasets. Style dialog component
  web/src/__tests__/components/Dialog.test.tsx
  web/src/__tests__/components/__snapshots__/Dialog.test.tsx.snap
  web/src/__tests__/reducers/datasets.test.ts
  web/src/__tests__/reducers/jobs.test.ts
  web/src/components/Dialog.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/i18n/config.ts
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/datasets.ts
  web/src/store/reducers/jobs.ts
  web/src/store/requests/datasets.ts
  web/src/store/requests/jobs.ts
  web/src/store/sagas/index.ts
Labels: web

#2360 Use `docker-compose.web.yml` as base compose file
  docker/up.sh
Labels: docker

#2358 Add `load-test-api` CI job
  .circleci/api-load-test.sh
  .circleci/config.yml
  .circleci/db-migration.sh
  .circleci/get-jdk17.sh
  .circleci/get-k6.sh
  api/load-testing/http.js
  api/load-testing/load-testing-architecture.png
  api/load-testing/load-testing.md
  docker-compose.db.yml
  marquez.dev.yml
Labels: docs, review, api

#2370 restore the favicon
  web/webpack.common.js
  web/webpack.prod.js
Labels: web

#2374 Helm chart fixes
  chart/templates/marquez/deployment.yaml
  chart/values.yaml
Labels: chart

#2380 Add a new script for stopping docker
  CHANGELOG.md
  docker/down.sh
Labels: docs, docker

#2381 Seed data for column lineage
  CHANGELOG.md
  docker/metadata.json
Labels: docs, docker

#2359 OL facets - PR3 - migrate data to facet tables
  CHANGELOG.md
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/cli/DbMigrationCommand.java
  api/src/main/java/marquez/db/migrations/V57_1__BackfillFacets.java
  api/src/main/resources/marquez/db/migration/V57.1__add_migration_lock.sql
  api/src/main/resources/marquez/db/migration/V57__readme.md
  api/src/test/java/marquez/api/JdbiUtils.java
  api/src/test/java/marquez/db/migrations/V57_1__BackfillFacetsTest.java
  api/src/test/java/marquez/db/migrations/V57_BackfillFacetsPerformanceTest.java
  codecov.yml
Labels: docs, api

#2355 OL facets - PR2 - read facets from views based on lineage_events table
  .circleci/config.yml
  CHANGELOG.md
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/cli/DbMigrationCommand.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetFacetsDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/FacetUtils.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/JobFacetsDao.java
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/db/RunFacetsDao.java
  api/src/main/java/marquez/db/migrations/V56_1__FacetViews.java
  api/src/main/java/marquez/db/migrations/V57_1__BackfillFacets.java
  api/src/main/resources/marquez/db/migration/V55.1__add_dataset_facets.sql
  api/src/main/resources/marquez/db/migration/V55.2__add_job_facets.sql
  api/src/main/resources/marquez/db/migration/V55.3__add_run_facets.sql
  api/src/main/resources/marquez/db/migration/V57.1__add_migration_lock.sql
  api/src/main/resources/marquez/db/migration/V57__readme.md
  api/src/test/java/marquez/api/JdbiUtils.java
  api/src/test/java/marquez/db/DatasetFacetsDaoTest.java
  api/src/test/java/marquez/db/FacetTestUtils.java
  api/src/test/java/marquez/db/JobFacetsDaoTest.java
  api/src/test/java/marquez/db/RunFacetsDaoTest.java
  api/src/test/java/marquez/db/migrations/V57_1__BackfillFacetsTest.java
  api/src/test/java/marquez/db/migrations/V57_BackfillFacetsPerformanceTest.java
  codecov.yml
Labels: docs, api, docker

#2389 Dataset Version API spec update
  spec/openapi.yml
Labels: spec

#2356 add missing changes to changelog for 0.30.0 release
  CHANGELOG.md
Labels: docs
