Repository MarquezProject/marquez, pull requests merged in 2023-08, with the labels that each got.

#2559 Proposal/pagination
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/events/Events.tsx
Labels: web

#2561 update changelog for 0.38.0
  CHANGELOG.md
Labels: docs

#2557 update i18n for general search filter and `runInfo` facets search
  web/src/components/jobs/RunInfo.tsx
  web/src/components/search/Search.tsx
  web/src/i18n/config.ts
Labels: web

#2562 add ARIA labels to input fields
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/jobs/RunInfo.tsx
  web/src/components/search/SearchPlaceholder.tsx
  web/src/i18n/config.ts
Labels: web

#2571 Update web proxy import
  web/setupProxy.js
Labels: web

#2569 UI: add full graph toggle
  web/src/__tests__/components/Lineage.test.tsx
  web/src/components/full-graph-switch/FullGraphSwitch.tsx
  web/src/components/lineage/Lineage.tsx
  web/src/components/lineage/components/depth-config/DepthConfig.tsx
  web/src/i18n/config.ts
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/lineage.ts
Labels: web

#2573 Fixing the stylesheet for the date selector
  web/src/components/core/date-picker/MqDatePicker.tsx
Labels: web

#2574 add missing changes to changelog for 0.39.0
  CHANGELOG.md
Labels: docs

#2577 Lineage events paging update
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  spec/openapi.yml
  web/src/routes/events/Events.tsx
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/events.ts
  web/src/store/requests/events.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
Labels: api, web, spec

#2578 Added Copy Button for Lineage ID
  web/src/components/core/copy/MqCopy.tsx
  web/src/routes/events/Events.tsx
Labels: web

#2581 Add defaults for `idFromValue()` and `idFromValueAndType()`
  api/src/main/java/marquez/service/models/EventTypeResolver.java
Labels: api

#2579 Chart: Dont use hardcoed postgres image for initcontainer
  chart/templates/_helpers.tpl
  chart/templates/marquez/deployment.yaml
Labels: chart

#2594 Remove chatty log on db migrations
  api/src/main/java/marquez/db/DbMigration.java
Labels: review, api

#2595 Add `publish-snapshot` CI job
  .circleci/config.yml
  api/build.gradle
Labels: review, api

#2598 Publish snapshot for `marquez-java` lib.
  clients/java/build.gradle
Labels: review

#2599 Remove `isReleaseVersion` check
  api/build.gradle
  build.gradle
  clients/java/build.gradle
Labels: review, api, client/java

#2596 update changelog for 0.40.0 release
  CHANGELOG.md
Labels: docs

#2601 ui:add HTML Tool Tip
  web/src/components/core/tooltip/MQTooltip.tsx
  web/src/components/lineage/components/node/Node.tsx
Labels: web

#2600 tolerate null transformation attrs in ColumnLineageInputField
  api/src/main/java/marquez/service/models/ColumnLineageInputField.java
  clients/java/src/main/java/marquez/client/models/ColumnLineageInputField.java
  clients/java/src/test/java/marquez/client/models/ColumnLineageInputFieldTest.java
Labels: api, client/java
