Repository MarquezProject/marquez, pull requests merged in 2023-10, with the labels that each got.

#2630 add hover over tool tip to dataset tags
  web/src/components/datasets/DatasetDetailPage.tsx
Labels: review, web

#2647 Fix Unix epoch time display in case of null `endedAt` value
  web/src/components/jobs/Runs.tsx
Labels: web

#2644 Migrate Docker Compose cmd in `up` to V2
  docker/up.sh
Labels: docker

#2639 [DOCS] Add security headers to docs site
  docs/v2/netlify.toml
Labels: docs

#2649 Update the changelog for 0.42.0
  CHANGELOG.md
Labels: docs

#2655 [Bug] fix pagination in jobs route
  web/src/routes/jobs/Jobs.tsx
Labels: bug, web

#2659 Replace get_changes in dev with custom solution for automating changelog updates
  .gitignore
  dev/.gitignore
  dev/README.md
  dev/get_changes.py
  dev/get_changes.sh
  dev/requirements.txt
Labels: docs

#2667 Fix the changelog
  CHANGELOG.md
Labels: docs

#2675 Update Slack invite links
  CODE_QUALITY_AND_SECURITY.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  docs/quickstart.md
  docs/v2/blog/2021-07-14-using-marquez-api/index.mdx
  docs/v2/docusaurus.config.js
  docs/v2/src/pages/index.tsx
  examples/airflow/airflow.md
Labels: docs, example
