Repository MarquezProject/marquez, pull requests merged in 2023-02, with the labels that each got.

#2409 update snapshot version in `api-load-test.sh`
  .circleci/api-load-test.sh
Labels: bug

#2392 UI: Show location button when link to code exist
  web/src/components/jobs/JobDetailPage.tsx
Labels: web

#2393 UI: Update prettier and eslint version for optional chaining support
  web/package-lock.json
  web/package.json
Labels: web

#2400 Making Dataset Versions and Dataset types the same
  spec/openapi.yml
Labels: spec

#2388 enable auto-accessibility feature on graph nodes
  web/src/components/lineage/components/node/Node.tsx
  web/src/components/lineage/types.ts
Labels: web

#2384 UI: Selection on graph with edges. Status for jobs/datasets
  docker/metadata.json
  web/src/components/core/status/MqStatus.tsx
  web/src/components/datasets/DatasetColumnLineage.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetVersions.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/components/jobs/RunStatus.tsx
  web/src/components/lineage/Lineage.tsx
  web/src/components/lineage/components/drag-bar/DragBar.tsx
  web/src/components/lineage/components/edge/Edge.tsx
  web/src/components/lineage/components/node/Node.tsx
  web/src/components/namespace-select/NamespaceSelect.tsx
  web/src/components/search/Search.tsx
  web/src/helpers/nodes.ts
  web/src/i18n/config.ts
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/events/Events.tsx
  web/src/routes/jobs/Jobs.tsx
  web/src/types/api.ts
  web/src/types/util/groupBy.ts
Labels: web, docker

#2357 Add index on jobs_fqn namespace and fqn to optimize read queries
  api/src/main/resources/marquez/db/migration/V58__job_fqn_name_index.sql
Labels: api

#2419 include missing indexes
  CHANGELOG.md
  api/src/main/resources/marquez/db/migration/V59.1__column_lineage_add_indexes.sql
  api/src/main/resources/marquez/db/migration/V59.2__facet_tables_indexes.sql
Labels: docs, api

#2336 UI: Facet View Enhancement
  web/.eslintrc.js
  web/Dockerfile
  web/jest.config.js
  web/package-lock.json
  web/package.json
  web/src/components/core/code/MqJson.tsx
  web/src/components/core/json-view/MqJsonView.tsx
  web/src/components/datasets/DatasetColumnLineage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/jobs/RunInfo.tsx
  web/src/routes/events/Events.tsx
Labels: docs, web

#2420 prepare changelog for 0.31.0
  CHANGELOG.md
Labels: docs

#2425 fix typo in changelog
  CHANGELOG.md
Labels: docs

#2407 improve dataset facets access
  CHANGELOG.md
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
Labels: docs, api

#2430 This fixes the communication of the Web UI component with Marquez AP…
  chart/templates/web/deployment.yaml
Labels: chart
