Repository MarquezProject/marquez, pull requests merged in 2023-04, with the labels that each got.

#2466 add missing special characters to committer name
  COMMITTERS.md
Labels: docs

#2472 Made improvements to lineage query performance
  api/src/main/java/marquez/db/LineageDao.java
Labels: api

#2458 UI: Change color for selected node and edges on graph
  web/src/components/lineage/components/edge/Edge.tsx
  web/src/components/lineage/components/node/Node.tsx
Labels: web

#2417 Support inputFacets and outputFacets
  CHANGELOG.md
  api/src/main/java/marquez/common/models/InputDatasetVersion.java
  api/src/main/java/marquez/common/models/OutputDatasetVersion.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetFacetsDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/db/mappers/RunMapper.java
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/main/java/marquez/service/models/Run.java
  api/src/test/java/marquez/FlowIntegrationTest.java
  api/src/test/java/marquez/db/DatasetFacetsDaoTest.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/db/RunDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  clients/java/src/main/java/marquez/client/models/InputDatasetVersion.java
  clients/java/src/main/java/marquez/client/models/OutputDatasetVersion.java
  clients/java/src/main/java/marquez/client/models/Run.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/models/JsonGenerator.java
  clients/java/src/test/java/marquez/client/models/ModelGenerator.java
  spec/openapi.yml
Labels: docs, api, client/java, spec

#2473 make `get_changes` modify changelog directly and update readme in dev
  dev/README.md
  dev/get_changes.sh
Labels: docs

#2467 Handle null `job.latestRun` before `runStateColor`
  CHANGELOG.md
  web/src/routes/jobs/Jobs.tsx
Labels: docs, web

#2471 Handle null run.jobVersion in DatasetInfo
  CHANGELOG.md
  web/src/components/datasets/DatasetInfo.tsx
Labels: docs, web

#2476 edit changelog in advance of 0.33.0 release
  CHANGELOG.md
Labels: docs
