Repository MarquezProject/marquez, pull requests merged in 2023-07, with the labels that each got.

#2537 add slack invite to readme
  README.md
Labels: docs

#2526 Annotate Airflow example concerning alternate version in docs
  examples/airflow/airflow.md
  examples/airflow/docs/airflow-view-dag.png
  examples/airflow/docs/current-lineage-view-job.png
  examples/airflow/docs/current-search-count.png
Labels: docs, example

#2495 Ability to decode static metadata events
  CHANGELOG.md
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/service/models/BaseEvent.java
  api/src/main/java/marquez/service/models/DatasetEvent.java
  api/src/main/java/marquez/service/models/EventTypeResolver.java
  api/src/main/java/marquez/service/models/JobEvent.java
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/test/java/marquez/DatasetIntegrationTest.java
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
  api/src/test/java/marquez/db/BackfillTestUtils.java
  api/src/test/java/marquez/db/LineageTestUtils.java
  api/src/test/java/marquez/service/models/EventTypeResolverTest.java
  api/src/test/java/marquez/service/models/LineageEventTest.java
  api/src/test/resources/open_lineage/event_dataset_event.json
  api/src/test/resources/open_lineage/event_job_event.json
  api/src/test/resources/open_lineage/event_without_schema_url.json
  clients/java/src/main/java/marquez/client/models/LineageEvent.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/models/LineageEventTest.java
Labels: docs, api, client/java

#2545 update changelog for 0.37.0 release
  CHANGELOG.md
  README.md
Labels: docs

#2534 Slow Dataset Query Updates
  api/src/main/java/marquez/db/DatasetDao.java
Labels: api

#2535 Runs state indices
  api/src/main/resources/marquez/db/migration/V62__index_run_states_and_parent_run.sql
Labels: api

#2486 Add db retention support
  api/build.gradle
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/MarquezConfig.java
  api/src/main/java/marquez/cli/DbRetentionCommand.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/DbMigration.java
  api/src/main/java/marquez/db/DbRetention.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/db/exceptions/DbException.java
  api/src/main/java/marquez/db/exceptions/DbRetentionException.java
  api/src/main/java/marquez/db/mappers/DatasetRowMapper.java
  api/src/main/java/marquez/db/mappers/DatasetVersionRowMapper.java
  api/src/main/java/marquez/db/mappers/JobRowMapper.java
  api/src/main/java/marquez/db/mappers/RunRowMapper.java
  api/src/main/java/marquez/db/models/DatasetRow.java
  api/src/main/java/marquez/db/models/DatasetVersionRow.java
  api/src/main/java/marquez/db/models/ExtendedDatasetVersionRow.java
  api/src/main/java/marquez/db/models/ExtendedRunRow.java
  api/src/main/java/marquez/db/models/InputFieldData.java
  api/src/main/java/marquez/db/models/JobRow.java
  api/src/main/java/marquez/db/models/RunRow.java
  api/src/main/java/marquez/jobs/DbRetentionConfig.java
  api/src/main/java/marquez/jobs/DbRetentionJob.java
  api/src/main/resources/marquez/db/migration/V63__alter_tables_add_on_cascade_delete.sql
  api/src/test/java/marquez/api/models/ActiveRun.java
  api/src/test/java/marquez/api/models/ApiModelGenerator.java
  api/src/test/java/marquez/common/models/CommonModelGenerator.java
  api/src/test/java/marquez/db/BackfillTestUtils.java
  api/src/test/java/marquez/db/DbRetentionTest.java
  api/src/test/java/marquez/db/DbTest.java
  api/src/test/java/marquez/db/DbTestUtils.java
  api/src/test/java/marquez/db/RunDaoTest.java
  api/src/test/java/marquez/db/TestingDb.java
  api/src/test/java/marquez/db/models/DbModelGenerator.java
  docs/faq.md
  marquez.example.yml
Labels: docs, review, api

#2549 Define `DbRetentionJob(Jdbi, DbRetentionConfig)`
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/jobs/DbRetentionConfig.java
  api/src/main/java/marquez/jobs/DbRetentionJob.java
  api/src/test/java/marquez/jobs/DbRetentionConfigTest.java
Labels: api

#2551 Add log for when retention job starts
  api/src/main/java/marquez/jobs/DbRetentionJob.java
Labels: api

#2554 increase namespace length to 1024 character
  clients/python/marquez_client/utils.py
  clients/python/tests/test_utils.py
Labels: client/python

#2553 Add `namespace`, `before`, and `after` to searchAPI
  spec/openapi.yml
Labels: spec

#2555 Add `namespace`, `before` and `after` to SearchDao
  api/src/main/java/marquez/db/SearchDao.java
  api/src/test/java/marquez/db/SearchDaoTest.java
Labels: api
