Repository MarquezProject/marquez, pull requests merged in 2023-06, with the labels that each got.

#2506 Handle lineage graph cycles on the client
  web/src/__tests__/components/Lineage.test.tsx
  web/src/components/lineage/Lineage.tsx
Labels: web, docker

#2512 add pagination to datasets
  web/src/__tests__/components/DatasetsPagination.test.tsx
  web/src/routes/datasets/Datasets.tsx
  web/src/store/actionCreators/index.ts
Labels: web

#2514 update the changelog
  CHANGELOG.md
Labels: docs

#2515 update versions in readme
  README.md
Labels: docs

#2517 Link to Marquez changelog in OL compatibility table
  README.md
Labels: docs

#2519 Gen new `uuid` for `etl_menus` ol events
  docker/metadata.json
Labels: docker

#2521 update slack link with new one
  README.md
Labels: docs

#2524 Enable RFC7230_LEGACY http compliance on application connectors by default
  chart/templates/marquez/configmap.yaml
Labels: chart

#2525 Lineage UI: Add a graph depth config option
  CHANGELOG.md
  web/src/components/bottom-bar/BottomBar.tsx
  web/src/components/lineage/Lineage.tsx
  web/src/components/lineage/components/depth-config/DepthConfig.tsx
  web/src/i18n/config.ts
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/lineage.ts
  web/src/store/requests/lineage.ts
  web/src/store/sagas/index.ts
Labels: docs, web

#2527 prepare changelog for 0.36.0 release
  CHANGELOG.md
Labels: docs

#2529 Revert URL encoding when fetching lineage
  web/src/__tests__/requests/lineage.test.ts
  web/src/store/requests/index.ts
  web/src/store/requests/lineage.ts
Labels: web

#2532 update slack links
  CONTRIBUTING.md
  README.md
Labels: docs
