Repository MarquezProject/marquez, pull requests merged in 2023-12, with the labels that each got.

#2695 remove maven-archiver dependency from java client
  clients/java/build.gradle
Labels: client/java

#2700 Add tags API tests and class `BaseResourceIntegrationTest`
  api/src/test/java/marquez/api/BaseResourceIntegrationTest.java
  api/src/test/java/marquez/api/TagResourceIntegrationTest.java
  api/src/test/java/marquez/db/DbTest.java
Labels: review, api

#2654 Runless events - refactor job_versions_io_mapping
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/migrations/V67_2_JobVersionsIOMappingBackfillJob.java
  api/src/main/resources/marquez/db/migration/R__1_Jobs_view_and_rewrite_function.sql
  api/src/main/resources/marquez/db/migration/V67.1__job_versions_io_mapping_add_job_reference.sql
  api/src/test/java/marquez/db/BackfillTestUtils.java
  api/src/test/java/marquez/db/JobVersionDaoTest.java
  api/src/test/java/marquez/db/TestingDb.java
  api/src/test/java/marquez/db/migrations/V67_2_JobFacetsBackfillJobVersionTest.java
Labels: docs, api

#2682 Support streaming jobs in Marquez
  CHANGELOG.md
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/mappers/JobMapper.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/java/marquez/service/RunService.java
  api/src/main/java/marquez/service/models/Job.java
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/test/java/marquez/ColumnLineageIntegrationTest.java
  api/src/test/java/marquez/db/BackfillTestUtils.java
  api/src/test/java/marquez/db/ColumnLineageTestUtils.java
  api/src/test/java/marquez/db/DatasetDaoTest.java
  api/src/test/java/marquez/db/DatasetFacetsDaoTest.java
  api/src/test/java/marquez/db/FacetTestUtils.java
  api/src/test/java/marquez/db/JobFacetsDaoTest.java
  api/src/test/java/marquez/db/JobVersionDaoTest.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/db/RunDaoTest.java
  api/src/test/java/marquez/db/RunFacetsDaoTest.java
  api/src/test/java/marquez/db/mappers/JobMapperTest.java
  api/src/test/java/marquez/db/migrations/V57_1__BackfillFacetsTest.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  api/src/test/java/marquez/service/OpenLineageServiceIntegrationTest.java
  api/src/test/java/marquez/service/models/LineageEventTest.java
  api/src/test/resources/open_lineage/event_full.json
Labels: docs, api

#2701 CI fix: remove delombok plugin from gradle
  api/src/main/java/marquez/db/OpenLineageDao.java
  build.gradle
Labels: api

#2698 add DELETE end point for dataset tags
  api/src/main/java/marquez/api/DatasetResource.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/test/java/marquez/api/BaseResourceIntegrationTest.java
  api/src/test/java/marquez/api/TagResourceIntegrationTest.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
Labels: api, client/java

#2702 Update changelog for 0.43.0 release.
  CHANGELOG.md
  dev/get_changes.py
Labels: docs

#2707 Fix links in readme.
  README.md
Labels: docs

#2688 Add namespace filter option in config file
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/MarquezConfig.java
  api/src/main/java/marquez/api/NamespaceResource.java
  api/src/main/java/marquez/api/filter/exclusions/Exclusions.java
  api/src/main/java/marquez/api/filter/exclusions/ExclusionsConfig.java
  api/src/main/java/marquez/db/NamespaceDao.java
  api/src/test/java/marquez/api/NamespaceResourceTest.java
  api/src/test/java/marquez/api/filter/exclusions/ExclusionsConfigTest.java
  docs/faq.md
Labels: docs, api, web, client/java, spec

#2710 Fix broken lineage for repeated runs
  CHANGELOG.md
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/test/java/marquez/db/LineageTestUtils.java
  api/src/test/java/marquez/service/LineageServiceTest.java
Labels: docs, api

#2712 Prepare changelog for 0.43.1 release.
  CHANGELOG.md
Labels: docs

#2713 Fix `py` client version
  CHANGELOG.md
  clients/python/marquez_client/__init__.py
  clients/python/setup.cfg
  clients/python/setup.py
Labels: docs, client/python

#2705 Add end point to delete field level tags.
  api/src/main/java/marquez/api/DatasetResource.java
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/test/java/marquez/api/BaseResourceIntegrationTest.java
  api/src/test/java/marquez/api/TagResourceIntegrationTest.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
Labels: api, client/java

#2714 Add dataset tags tabs for add/delete of tags.
  web/src/__tests__/reducers/datasets.test.ts
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetTags.tsx
  web/src/i18n/config.ts
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/datasets.ts
  web/src/store/requests/datasets.ts
  web/src/store/sagas/index.ts
Labels: web
