Repository MarquezProject/marquez, pull requests merged in 2023-11, with the labels that each got.

#2677 upgrade openlineage java
  api/src/test/java/marquez/api/models/ActiveRun.java
  build.gradle
Labels: api

#2641 Runless events - consume dataset event
  CHANGELOG.md
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/db/DatasetFacetsDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/db/models/ModelDaos.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V65__dataset_facets_lineage_event_type_nullable.sql
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
  api/src/test/java/marquez/db/LineageTestUtils.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  api/src/test/java/marquez/service/OpenLineageServiceIntegrationTest.java
  build.gradle
Labels: docs, api

#2658 upstream run level lineage implementation
  CHANGELOG.md
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/mappers/UpstreamRunRowMapper.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/test/java/marquez/db/LineageDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  spec/openapi.yml
Labels: docs, api, spec

#2153 Proposal/2071 update version versioning
  proposals/2071-update-versioning.md
Labels: docs, proposal

#2661 Runless events - consume job event
  CHANGELOG.md
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/JobFacetsDao.java
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/migrations/V66_3_JobFacetsBackfillJobVersion.java
  api/src/main/java/marquez/db/models/ModelDaos.java
  api/src/main/java/marquez/service/JobService.java
  api/src/main/java/marquez/service/OpenLineageService.java
  api/src/main/resources/marquez/db/migration/V65__alter_dataset_facets_to_change_lineage_event_type_as_nullable.sql
  api/src/main/resources/marquez/db/migration/V66.1__alter_job_facets.sql
  api/src/main/resources/marquez/db/migration/V66.2__alter_lineage_events_add_event_type.sql
  api/src/test/java/marquez/OpenLineageIntegrationTest.java
  api/src/test/java/marquez/db/BackfillTestUtils.java
  api/src/test/java/marquez/db/JobVersionDaoTest.java
  api/src/test/java/marquez/db/LineageTestUtils.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/db/migrations/V66_3_JobFacetsBackfillJobVersionTest.java
  api/src/test/java/marquez/service/OpenLineageServiceIntegrationTest.java
  api/src/test/resources/open_lineage/event_job_event.json
Labels: docs, api

#2683 refacto dataset version query
  api/src/main/java/marquez/db/DatasetVersionDao.java
Labels: api

#2685 [PERF] Refacto run dao sql query
  api/src/main/java/marquez/db/RunDao.java
Labels: api

#2691 Add FAQ section on viewing db schema and applying migrations
  docs/db-migrations.md
  docs/faq.md
Labels: docs

#2693 change url path encoding to match jersey decoding
  clients/java/src/main/java/marquez/client/MarquezPathV1.java
  clients/java/src/test/java/marquez/client/MarquezHttpTest.java
  clients/java/src/test/java/marquez/client/MarquezPathV1Test.java
Labels: bug, client/java

#2672 Web/add dataset drawer
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
Labels: web

#2680 Add missing doc page for column lineage endpoint
  docs/v2/docs/api/get-column-lineage.api.mdx
  docs/v2/openapi.yml
  spec/openapi.yml
Labels: docs, spec

#2648 Fix headers in docs/v2/netlify.toml.
  docs/v2/netlify.toml
Labels: docs
