Repository MarquezProject/marquez, pull requests merged in 2024-06, with the labels that each got.

#2821 Optimize Column Lineage Query Performance
  api/src/main/java/marquez/db/ColumnLineageDao.java
Labels: api, db.perf

#2830 Fix bug in the airflow example docs
  examples/airflow/airflow.md
Labels: docs, example

#2831 Fix spelling in openapi docs
  docs/openapi.html
  docs/v2/docs/api/add-tag-to-dataset.api.mdx
  docs/v2/docs/api/add-tag-to-field-of-dataset.api.mdx
  docs/v2/docs/api/delete-dataset.api.mdx
  docs/v2/docs/api/get-column-lineage.api.mdx
  docs/v2/docs/api/get-dataset.api.mdx
  docs/v2/docs/api/get-datasets.api.mdx
  docs/v2/docs/api/get-lineage.api.mdx
  docs/v2/docs/api/put-dataset.api.mdx
  docs/v2/openapi.yml
  spec/openapi.yml
Labels: docs, spec

#2763 feat: add dataset schema versions
  api/src/main/java/marquez/common/Utils.java
  api/src/main/java/marquez/db/BaseDao.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/main/java/marquez/db/DatasetSchemaVersionDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/JobVersionDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/db/mappers/DatasetSchemaVersionRowMapper.java
  api/src/main/java/marquez/db/mappers/DatasetVersionMapper.java
  api/src/main/java/marquez/db/mappers/DatasetVersionRowMapper.java
  api/src/main/java/marquez/db/mappers/ExtendedDatasetVersionRowMapper.java
  api/src/main/java/marquez/db/models/DatasetSchemaVersionRow.java
  api/src/main/java/marquez/db/models/DatasetVersionRow.java
  api/src/main/java/marquez/db/models/ExtendedDatasetVersionRow.java
  api/src/main/java/marquez/db/models/ModelDaos.java
  api/src/main/java/marquez/service/models/DatasetVersion.java
  api/src/main/java/marquez/service/models/DbTableVersion.java
  api/src/main/java/marquez/service/models/StreamVersion.java
  api/src/main/resources/marquez/db/migration/V69.1__dataset_schema_versions_table.sql
  api/src/main/resources/marquez/db/migration/V69.2__dataset_schema_versions_field_mapping_table.sql
  api/src/main/resources/marquez/db/migration/V69.3__dataset_versions_new_column.sql
  api/src/test/java/marquez/api/JdbiUtils.java
  api/src/test/java/marquez/common/UtilsTest.java
  api/src/test/java/marquez/db/ColumnLineageDaoTest.java
  api/src/test/java/marquez/db/DatasetDaoTest.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
  api/src/test/java/marquez/db/TestingDb.java
  api/src/test/java/marquez/db/models/DbModelGenerator.java
Labels: api, db.perf

#2832 Web: DRY Paging
  web/src/components/paging/MqPaging.tsx
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/events/Events.tsx
  web/src/routes/jobs/Jobs.tsx
Labels: web

#2837 Add Job tagging to UI
  web/src/__tests__/reducers/jobs.test.ts
  web/src/components/jobs/JobDetailPage.tsx
  web/src/components/jobs/JobTags.tsx
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/jobs.ts
  web/src/store/requests/jobs.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
Labels: web

#2841 bring dataset tags into line with Job Tags
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetTags.tsx
Labels: web

#2844 Remove limit from assertion evaluation.
  web/src/helpers/nodes.ts
Labels: bug, web
