Repository MarquezProject/marquez, pull requests merged in 2024-01, with the labels that each got.

#2716 Fix dataset tag reducers bug
  web/src/store/reducers/datasets.ts
Labels: web

#2726 update Slack links
  CODE_QUALITY_AND_SECURITY.md
  CONTRIBUTING.md
  README.md
  docs/quickstart.md
  docs/v2/blog/2021-07-14-using-marquez-api/index.mdx
  docs/v2/docs/quickstart/index.mdx
  docs/v2/src/pages/about/index.mdx
  proposals/README.md
Labels: docs, proposal

#2730 Add scripts to Head for GA traffic metrics.
  docs/v2/docusaurus.config.js
  docs/v2/static/js/google_analytics.js
Labels: docs

#2735 Fix changelog for 0.45.0.
  CHANGELOG.md
Labels: docs

#2737 Fix tag in changelog
  CHANGELOG.md
Labels: docs

#2739 Update compatibility table.
  README.md
Labels: docs
