Repository MarquezProject/marquez, pull requests merged in 2024-07, with the labels that each got.

#2856 Cleanup issues highlighted by some Spark Integration Data
  web/src/components/jobs/JobTags.tsx
  web/src/components/jobs/RunInfo.tsx
  web/src/components/jobs/Runs.tsx
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/events/Events.tsx
  web/src/routes/jobs/Jobs.tsx
  web/src/routes/table-level/ActionBar.tsx
Labels: web

#2854 version history: deduplicate the versions displayed
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/test/java/marquez/DatasetIntegrationTest.java
Labels: api

#2852 Add paging on jobs panel
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/test/java/marquez/db/JobDaoTest.java
  web/src/components/jobs/JobDetailPage.tsx
  web/src/components/jobs/Runs.tsx
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/runs.ts
  web/src/store/requests/jobs.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
Labels: api, web

#2855 Add paging to dataset versions panel
  api/src/main/java/marquez/api/DatasetResource.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/test/java/marquez/db/DatasetDaoTest.java
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetVersions.tsx
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/datasetVersions.ts
  web/src/store/requests/datasets.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
Labels: api, web

#2850 Add endpoint method and path to metrics name.
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/logging/DelegatingSqlLogger.java
  api/src/main/java/marquez/logging/LabelledSqlLogger.java
  api/src/main/java/marquez/logging/LoggingMdcFilter.java
  api/src/main/java/marquez/service/DatabaseMetrics.java
  api/src/test/java/marquez/BaseIntegrationTest.java
  api/src/test/java/marquez/MetricsIntegrationTest.java
  api/src/test/java/marquez/logging/DelegatingSqlLoggerTest.java
  api/src/test/java/marquez/logging/LabelledSqlLoggerTest.java
  api/src/test/java/marquez/logging/LoggingMdcFilterTest.java
Labels: api

#2859 [FIX] Dataset query to get only the latest facet for each version
  api/src/main/java/marquez/db/DatasetDao.java
Labels: api

#2863 Changelog update
  CHANGELOG.md
Labels: docs

#2862 fix/encode-uri-column-lineage-link
  web/src/components/datasets/DatasetInfo.tsx
Labels: web
