Repository MarquezProject/marquez, pull requests merged in 2024-10, with the labels that each got.

#2894 Tests for lineage metrics.
  api/src/test/java/marquez/api/BaseResourceIntegrationTest.java
  api/src/test/java/marquez/db/DbRetentionTest.java
  api/src/test/java/marquez/db/DbTest.java
  api/src/test/java/marquez/db/DbTestUtils.java
  api/src/test/java/marquez/db/StatsTest.java
  api/src/test/java/marquez/db/TestingDb.java
Labels: api

#2916 Updated event count chip rendering
  web/src/routes/events/Events.tsx
Labels: web, hacktoberfest

#2901 Latest runs for jobs
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/db/mappers/JobMapper.java
  api/src/main/java/marquez/service/models/Job.java
  api/src/test/java/marquez/db/JobDaoTest.java
  api/src/test/java/marquez/db/RunDaoTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  spec/openapi.yml
Labels: api, spec

#2900 Current Lineage Metrics
  api/src/main/java/marquez/api/StatsResource.java
  api/src/main/java/marquez/db/StatsDao.java
  api/src/main/java/marquez/service/StatsService.java
Labels: api

#2906 Dataset, Source, Job Metrics
  .circleci/config.yml
  api/src/main/java/marquez/api/StatsResource.java
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/StatsDao.java
  api/src/main/java/marquez/db/mappers/IntervalMetricRowMapper.java
  api/src/main/java/marquez/db/models/IntervalMetric.java
  api/src/main/java/marquez/service/StatsService.java
  api/src/test/java/marquez/api/StatResourceTest.java
  api/src/test/java/marquez/db/StatsTest.java
  api/src/test/java/marquez/db/TestingDb.java
Labels: api

#2853 Use `io.openlineage.server.*` pkg and add class `Metadata`
  api/src/main/java/marquez/api/exceptions/FacetNotValid.java
  api/src/main/java/marquez/api/models/Metadata.java
  api/src/main/java/marquez/api/models/VersionId.java
  api/src/main/java/marquez/common/models/JobId.java
  api/src/main/java/marquez/common/models/RunState.java
  api/src/test/java/marquez/api/models/ApiModelGenerator.java
  api/src/test/java/marquez/api/models/MetadataTest.java
Labels: in progress, api

#2919 Fix weekly stats query
  api/src/main/java/marquez/db/StatsDao.java
Labels: api

#2920 Remove Daily LE View
  api/src/main/java/marquez/jobs/MaterializeViewRefresherJob.java
  api/src/main/resources/marquez/db/migration/V72__remove_daily_mat_view_lineage_metrics.sql
Labels: api

#2913 New Dashboard
  web/package-lock.json
  web/package.json
  web/src/components/App.tsx
  web/src/components/core/date-picker/MqDatePicker.tsx
  web/src/components/core/input-base/MqInputBase.tsx
  web/src/components/core/text/MqText.tsx
  web/src/components/dashboard/SplitButton.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/paging/MqPaging.tsx
  web/src/components/search/Search.tsx
  web/src/components/search/open-search/OpenSearch.tsx
  web/src/components/sidenav/Sidenav.tsx
  web/src/globals.ts
  web/src/helpers/numbers.ts
  web/src/helpers/runs.ts
  web/src/helpers/text.ts
  web/src/helpers/theme.ts
  web/src/helpers/time.ts
  web/src/i18n/config.ts
  web/src/index.css
  web/src/routes/column-level/ActionBar.tsx
  web/src/routes/column-level/ZoomControls.tsx
  web/src/routes/dashboard/Dashboard.tsx
  web/src/routes/dashboard/JobRunItem.tsx
  web/src/routes/dashboard/JobsDrawer.tsx
  web/src/routes/dashboard/MiniGraph.tsx
  web/src/routes/dashboard/MiniGraphContainer.tsx
  web/src/routes/dashboard/StackedLineageEvents.tsx
  web/src/routes/dashboard/TimelineDrawer.tsx
  web/src/routes/dashboard/airflow.svg
  web/src/routes/table-level/ActionBar.tsx
  web/src/routes/table-level/TableLineageJobNode.tsx
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/datasetMetrics.ts
  web/src/store/reducers/index.ts
  web/src/store/reducers/jobMetrics.ts
  web/src/store/reducers/jobs.ts
  web/src/store/reducers/jobsByState.ts
  web/src/store/reducers/lineageMetrics.ts
  web/src/store/reducers/openSearch.ts
  web/src/store/reducers/openSearchDatasets.ts
  web/src/store/reducers/sourceMetrics.ts
  web/src/store/requests/intervalMetrics.ts
  web/src/store/requests/jobs.ts
  web/src/store/requests/lineageMetrics.ts
  web/src/store/requests/search.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
  web/src/types/index.ts
Labels: web

#2922 Run State on Job Node Fix
  web/src/routes/table-level/TableLineageJobNode.tsx
Labels: web

#2924 Use `TIMESTAMPTZ`
  api/src/main/resources/marquez/db/migration/R__Datasets_view.sql
  api/src/main/resources/marquez/db/migration/R__Jobs_view_and_rewrite_function.sql
  api/src/main/resources/marquez/db/migration/R__Runs_view.sql
  api/src/main/resources/marquez/db/migration/V72__drop_daily_mat_view_lineage_metrics.sql
  api/src/main/resources/marquez/db/migration/V73__alter_all_timestamps_to_timestamptz.sql
Labels: api

#2923 Add `--runs-per-job`, `--max-run-fails-per-job`, and more to `metadata` cmd
  .circleci/api-load-test.sh
  api/src/main/java/marquez/cli/MetadataCommand.java
  api/src/main/java/marquez/db/RunDao.java
  web/src/components/jobs/JobDetailPage.tsx
  web/src/routes/dashboard/JobRunItem.tsx
Labels: api, web

#2926 Fix Reverse Runs
  web/src/components/jobs/JobDetailPage.tsx
  web/src/routes/dashboard/JobRunItem.tsx
Labels: web

#2927 Fixing run state and interval timing
  api/src/main/java/marquez/db/JobDao.java
  web/src/components/dashboard/SplitButton.tsx
  web/src/routes/dashboard/Dashboard.tsx
  web/src/routes/dashboard/JobRunItem.tsx
Labels: api, web

#2929 Add col `current_run_uuid` to `jobs`
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/db/mappers/JobRowMapper.java
  api/src/main/java/marquez/db/models/JobRow.java
  api/src/main/resources/marquez/db/migration/R__Jobs_view_and_rewrite_function.sql
  api/src/main/resources/marquez/db/migration/V74__alter_jobs_to_add_current_run_uuid.sql
  api/src/test/java/marquez/MarquezAppIntegrationTest.java
  api/src/test/java/marquez/db/JobDaoTest.java
  api/src/test/java/marquez/db/models/DbModelGenerator.java
  web/src/routes/dashboard/JobRunItem.tsx
Labels: api, web

#2930 Add `GET` `/api/v1/jobs`
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/test/java/marquez/db/JobDaoTest.java
Labels: api

#2931 Job Panel `RUNNING` status fixes
  web/src/__tests__/__mocks__/LineageJob.ts
  web/src/__tests__/components/JobDetailPage.test.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/routes/dashboard/JobRunItem.tsx
  web/src/routes/table-level/TableLevelDrawer.tsx
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/index.ts
  web/src/store/reducers/job.ts
  web/src/store/reducers/jobs.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
  web/src/types/lineage.ts
Labels: api, web

#2932 feature/no-job-namespace
  web/src/routes/dashboard/Dashboard.tsx
  web/src/routes/dashboard/JobsDrawer.tsx
  web/src/store/actionCreators/index.ts
  web/src/store/requests/jobs.ts
Labels: web

#2933 Fixing `latestRun` on `/lineage` endpoint
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/RunDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/test/java/marquez/api/OpenLineageResourceTest.java
  api/src/test/java/marquez/service/LineageServiceTest.java
Labels: api

#2934 Static Job Event handling
  web/src/components/jobs/JobDetailPage.tsx
  web/src/routes/table-level/TableLineageJobNode.tsx
Labels: web

#2937 Data Quality Panel Fix
  web/src/components/datasets/DatasetDetailPage.tsx
Labels: web

#2938 Dataset Version call simplification
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetVersions.tsx
Labels: web

#2936 Repurpose db-migrate to run all pending migrations
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/cli/DbMigrateCommand.java
  api/src/main/java/marquez/cli/DbMigrationCommand.java
  api/src/main/java/marquez/db/DbMigration.java
  codecov.yml
Labels: api

#2940 Display full `runID` and check icon when copied
  web/src/components/core/copy/MqCopy.tsx
  web/src/components/datasets/DatasetVersions.tsx
  web/src/components/jobs/Runs.tsx
  web/src/routes/events/Events.tsx
Labels: web

#2942 Long text handling
  web/src/components/datasets/DatasetVersions.tsx
  web/src/helpers/text.ts
  web/src/routes/dashboard/JobRunItem.tsx
  web/src/routes/table-level/TableLineageDatasetNode.tsx
  web/src/routes/table-level/TableLineageJobNode.tsx
Labels: web

#2943 Use project root for docker volume prefix
  docker/up.sh
Labels: docker

#2945 fix: Correct SQL query pagination for DatasetVersion findAll method
  api/src/main/java/marquez/db/DatasetVersionDao.java
Labels: api

#2946 Templatize event time in `metadata.json`
  docker-compose.seed.yml
  docker/metadata.template.json
  docker/seed.sh
Labels: docker

#2954 `Dataset.currentVersionUuid` `->` `DatasetVersion.uuid`
  api/src/main/java/marquez/db/DatasetVersionDao.java
  api/src/main/java/marquez/db/mappers/DatasetVersionMapper.java
Labels: api

#2955 Update Events Page
  web/src/components/core/copy/MqCopy.tsx
  web/src/components/dashboard/SplitButton.tsx
  web/src/i18n/config.ts
  web/src/routes/dashboard/Dashboard.tsx
  web/src/routes/events/Events.tsx
Labels: web

#2953 Fix attachment of run to lineage job
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/db/mappers/JobDataMapper.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/java/marquez/service/models/JobData.java
  api/src/test/java/marquez/service/LineageServiceTest.java
Labels: api

#2956 feature: Better handling of missing environment variables in setupProxy.js file
  web/setupProxy.js
Labels: web

#2963 Set WEB_PORT in Helm chart
  chart/templates/web/deployment.yaml
Labels: chart

#2965 Usage for `--db-port`
  docker/up.sh
Labels: docker

#2966 Deprecate airflow quickstart
  examples/airflow/README.md
Labels: docs, example
