Repository MarquezProject/marquez, pull requests merged in 2024-04, with the labels that each got.

#2785 Status Display Improvement
  web/src/components/core/date-picker/MqDatePicker.tsx
  web/src/components/core/status/MqStatus.tsx
  web/src/components/core/text/MqText.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/routes/datasets/Datasets.tsx
Labels: web, v2.UI

#2775 adapt column lineage query for symlink dataset
  api/src/main/java/marquez/db/ColumnLineageDao.java
Labels: api

#2761 Update dataset/dataset field tagging experience
  api/src/main/java/marquez/db/DatasetFieldDao.java
  api/src/test/java/marquez/api/TagResourceIntegrationTest.java
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetTags.tsx
  web/src/i18n/config.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/datasets.ts
  web/src/store/sagas/index.ts
Labels: bug, api, web

#2798 Web: Refine panel feature set
  web/src/components/core/code/MqCode.tsx
  web/src/components/core/info/MqInfo.tsx
  web/src/components/core/screen-load/MqScreenLoad.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetTags.tsx
  web/src/components/datasets/DatasetVersions.tsx
  web/src/components/io/Io.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/components/jobs/RunInfo.tsx
  web/src/components/jobs/RunStatus.tsx
  web/src/components/jobs/Runs.tsx
  web/src/routes/datasets/Datasets.tsx
Labels: web, v2.UI

#2799 Fix show tags refresh
  web/src/components/datasets/DatasetDetailPage.tsx
Labels: web

#2803 Use webpack bundled icon instead of GitHub hosted content
  web/src/components/sidenav/Sidenav.tsx
Labels: web
