Repository MarquezProject/marquez, pull requests merged in 2024-11, with the labels that each got.

#2967 Fix null pointer on Dataset facets
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/test/java/marquez/db/OpenLineageDaoTest.java
Labels: api

#2973 Docs: replace bitly links
  CODE_QUALITY_AND_SECURITY.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  docs/v2/docs/quickstart/index.mdx
  docs/v2/docusaurus.config.js
  docs/v2/src/pages/about/index.mdx
  docs/v2/src/pages/index.tsx
  docs/v2/src/pages/resources/index.mdx
  proposals/README.md
Labels: docs, proposal

#2977 Use `-p` for `--db-port`
  docker/up.sh
Labels: docker

#2979 Job Facets
  web/src/components/jobs/RunInfo.tsx
Labels: web

#2984 encodeURIComponent namespace and name in GET (column)lineage requests
  web/src/store/requests/columnlineage.ts
  web/src/store/requests/lineage.ts
Labels: web
