Repository MarquezProject/marquez, pull requests merged in 2024-08, with the labels that each got.

#2865 README - add new adopter Ilum
  README.md
Labels: docs

#2866 Web: encode job name in API requests
  web/src/store/requests/datasets.ts
  web/src/store/requests/jobs.ts
  web/src/store/sagas/index.ts
Labels: web

#2867 Use `OSSRH_USERNAME` and `OSSRH_PASSWORD` for `jvm` release
  api/build.gradle
  clients/java/build.gradle
Labels: api, client/java

#2864 web/security-updates
  web/package-lock.json
Labels: web

#2752 Feat/job to job lineage
  api/src/main/java/marquez/db/Columns.java
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/db/mappers/JobDataMapper.java
  api/src/main/java/marquez/db/mappers/JobMapper.java
  api/src/main/java/marquez/db/mappers/JobRowMapper.java
  api/src/main/java/marquez/db/models/JobRow.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/java/marquez/service/models/Job.java
  api/src/main/java/marquez/service/models/JobData.java
  api/src/test/java/marquez/db/models/DbModelGenerator.java
Labels: api

#2869 Changelog update including 0.49 release notes, plus misc README updates
  CHANGELOG.md
  README.md
Labels: docs

#2870 Feat/add parentuuid openapi
  api/src/main/java/marquez/db/models/JobRow.java
  spec/openapi.yml
Labels: api, spec

#2872 Marquez graduates!
  README.md
  docs/assets/images/lfaidata-project-badge-graduate-black.png
  docs/assets/images/lfaidata-project-badge-incubation-black.png
Labels: docs

#2868 Parent job in job panel
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/types/lineage.ts
Labels: web

#2838 web: Add env variable for setting up the frontend port
  docker-compose.web.yml
  web/setupProxy.js
Labels: web

#2834 OpenSearch indexing and queries
  .circleci/db-migration.sh
  .env.example
  api/build.gradle
  api/src/main/java/marquez/MarquezApp.java
  api/src/main/java/marquez/MarquezConfig.java
  api/src/main/java/marquez/MarquezContext.java
  api/src/main/java/marquez/api/OpenLineageResource.java
  api/src/main/java/marquez/api/v2beta/SearchResource.java
  api/src/main/java/marquez/search/SearchConfig.java
  api/src/main/java/marquez/service/SearchService.java
  api/src/main/java/marquez/service/ServiceFactory.java
  api/src/test/java/marquez/api/ApiTestUtils.java
  docker-compose.search.yml
  docker-compose.seed.yml
  docker-compose.web.yml
  docker-compose.yml
  docker/up.sh
  docker/volumes.sh
  examples/airflow/docker-compose.yml
  marquez.dev.yml
  marquez.example.yml
  web/Dockerfile
  web/jest.config.js
  web/setupProxy.js
  web/src/components/core/chip/MqChip.tsx
  web/src/components/core/chip/MqChipGroup.tsx
  web/src/components/core/input-base/MqInputBase.tsx
  web/src/components/search/Search.tsx
  web/src/components/search/SearchListItem.tsx
  web/src/components/search/SearchPlaceholder.tsx
  web/src/components/search/base-search/BaseSearch.tsx
  web/src/components/search/open-search/OpenSearch.tsx
  web/src/components/search/open-search/airlfow-logo.svg
  web/src/components/search/open-search/spark-logo.svg
  web/src/globals.ts
  web/src/routes/events/Events.tsx
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/index.ts
  web/src/store/reducers/openSearch.ts
  web/src/store/reducers/openSearchDatasets.ts
  web/src/store/requests/search.ts
  web/src/store/sagas/index.ts
  web/src/types/api.ts
  web/webpack.dev.js
  web/webpack.prod.js
Labels: docs, api, web, chart, client/java, docker, example

#2878 Add migration with on cascade delete constraint
  api/src/main/resources/marquez/db/migration/V70__alter_job_facets.sql
Labels: api

#2881 [FIX] Column lineage query with null namespace and name
  api/src/main/java/marquez/db/ColumnLineageDao.java
Labels: api

#2882 Fix incorrect negation
  api/src/main/java/marquez/api/v2beta/SearchResource.java
  api/src/main/java/marquez/service/SearchService.java
Labels: api

#2885 Add `POSTGRES_PORT` and `SEARCH_ENABLED` to `docker/down.sh`
  docker/down.sh
Labels: bug, docker
