Repository MarquezProject/marquez, pull requests merged in 2024-03, with the labels that each got.

#2759 Update dataset tags to allow editing/addition of tags
  web/src/components/datasets/DatasetTags.tsx
  web/src/helpers/theme.ts
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/tags.ts
  web/src/store/requests/index.ts
  web/src/store/requests/tags.ts
  web/src/store/sagas/index.ts
Labels: web

#2736 fix symlink display on marquez
  CHANGELOG.md
  api/src/main/java/marquez/db/LineageDao.java
  api/src/main/java/marquez/service/LineageService.java
  api/src/main/resources/marquez/db/migration/R__3_Datasets_view.sql
  api/src/test/java/marquez/service/LineageServiceTest.java
Labels: docs, api

#2760 Updates to the changelog for the 0.45.0 release
  CHANGELOG.md
Labels: docs

#2762 Fix incorrect link in index.
  docs/v2/src/pages/index.tsx
Labels: docs

#2768 Flink fix terminal streaming events
  CHANGELOG.md
  api/src/main/java/marquez/db/OpenLineageDao.java
  api/src/main/java/marquez/service/models/LineageEvent.java
  api/src/test/java/marquez/service/LineageServiceTest.java
  api/src/test/java/marquez/service/models/LineageEventTest.java
Labels: docs, api

#2769 Bump `helm/chart-testing-action@v2.6.1`
  .github/workflows/test-chart.yaml
Labels: chart

#2770 Web Various Revisions
  web/src/components/core/json-view/MqJsonView.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/routes/column-level/ColumnLevel.tsx
  web/src/routes/column-level/ColumnLevelDrawer.tsx
  web/src/routes/column-level/ColumnLineageColumnNode.tsx
  web/src/routes/table-level/ActionBar.tsx
  web/src/routes/table-level/TableLevel.tsx
Labels: web

#2771 Update changelog for 0.46.0
  CHANGELOG.md
Labels: docs

#2766 feat: serviceAccount and extraContainers to helm chart values
  chart/README.md
  chart/templates/marquez/deployment.yaml
  chart/values.yaml
Labels: docs, chart

#2749 Update landing pages
  docs/v2/docs/quickstart/search-view-job.png
  docs/v2/docs/quickstart/tab-view-dataset-metadata.png
  docs/v2/docs/quickstart/tab-view-job-metadata.png
  docs/v2/docusaurus.config.js
  docs/v2/src/components/HomepageFeatures/index.tsx
  docs/v2/src/components/HomepageFeatures/styles.module.css
  docs/v2/src/components/HomepageTextBox/index.tsx
  docs/v2/src/pages/index.module.css
  docs/v2/src/pages/index.tsx
  docs/v2/static/img/github.svg
  docs/v2/static/img/logo_txt_grn.svg
  docs/v2/static/img/marquez_caps_couple.svg
  docs/v2/static/img/screenshot.png
  docs/v2/static/img/screenshot.svg
  docs/v2/static/img/slack.svg
  docs/v2/static/img/unified_graph.png
Labels: docs

#2779 Web Refresh + Loading States
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/events/Events.tsx
  web/src/routes/jobs/Jobs.tsx
Labels: web

#2778 Improve down.sh script
  docker/down.sh
  docker/up.sh
Labels: docker

#2780 Set casing to upper for col lineage on dataset page
  web/src/routes/datasets/Datasets.tsx
Labels: web
