Repository MarquezProject/marquez, pull requests merged in 2024-12, with the labels that each got.

#2986 Added CsvPath to the list of Marquez adopters. 1-line change.
  README.md
Labels: docs

#2985 Airflow tutorial
  docs/v2/docs/tutorials/_category_.json
  docs/v2/docs/tutorials/airflow_tutorial/brkn_detail_lrg.png
  docs/v2/docs/tutorials/airflow_tutorial/brkn_graph.png
  docs/v2/docs/tutorials/airflow_tutorial/index.mdx
  docs/v2/docs/tutorials/airflow_tutorial/marquez_dataops.png
  docs/v2/docs/tutorials/airflow_tutorial/marquez_dataset_versions.png
Labels: docs

#2974 Null pointer error on job event for static lineage
  api/src/main/java/marquez/db/DatasetFacetsDao.java
Labels: api

#2990 Add missing `schemaURL` in seed events
  docker/metadata.template.json
Labels: docker

#2989 Fix tutorial preview card
  docs/v2/docs/tutorials/_category_.json
  docs/v2/docs/tutorials/airflow_tutorial/index.mdx
Labels: docs

#2992 Add Chinese language
  web/src/components/sidenav/Sidenav.tsx
  web/src/i18n/config.ts
Labels: web

#2996 Add missing proxy for jobs route
  web/setupProxy.js
Labels: web
