Repository MarquezProject/marquez, pull requests merged in 2024-05, with the labels that each got.

#2805 Column Lineage Linking and sticky tab titles
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetTags.tsx
  web/src/components/datasets/DatasetVersions.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/i18n/config.ts
  web/src/types/api.ts
Labels: web

#2807 Update JSON theme
  web/package-lock.json
  web/package.json
  web/src/components/core/json-view/MqJsonView.tsx
  web/src/components/jobs/RunInfo.tsx
Labels: web

#2809 Web: Tooltips and display updates
  web/src/components/core/text/MqText.tsx
  web/src/components/core/tooltip/MQTooltip.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/routes/column-level/ColumnLevelDrawer.tsx
  web/src/routes/column-level/ZoomControls.tsx
  web/src/routes/table-level/TableLineageDatasetNode.tsx
  web/src/routes/table-level/TableLineageJobNode.tsx
Labels: web

#2808 feat: add jobVersion field to Run in Java client
  clients/java/src/main/java/marquez/client/models/Run.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/models/JsonGenerator.java
  clients/java/src/test/java/marquez/client/models/ModelGenerator.java
Labels: client/java

#2528 [fix] Resolve issue data quality assertion facet are not displayed
  api/src/main/java/marquez/db/DatasetDao.java
  api/src/main/java/marquez/db/DatasetVersionDao.java
Labels: bug, docs, api

#2774 Add job tagging to API
  api/src/main/java/marquez/api/DatasetResource.java
  api/src/main/java/marquez/api/JobResource.java
  api/src/main/java/marquez/db/JobDao.java
  api/src/main/java/marquez/db/mappers/JobMapper.java
  api/src/main/java/marquez/service/models/Job.java
  api/src/main/java/marquez/service/models/JobMeta.java
  api/src/main/resources/marquez/db/migration/V68__add_jobs_tag_mapping.sql
  api/src/test/java/marquez/api/BaseResourceIntegrationTest.java
  api/src/test/java/marquez/api/TagResourceIntegrationTest.java
  api/src/test/java/marquez/db/DbTestUtils.java
  api/src/test/java/marquez/db/JobVersionDaoTest.java
  api/src/test/java/marquez/db/SearchDaoTest.java
  api/src/test/java/marquez/service/models/ServiceModelGenerator.java
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/MarquezPathV1.java
  clients/java/src/main/java/marquez/client/MarquezUrl.java
  clients/java/src/main/java/marquez/client/models/Job.java
  clients/java/src/main/java/marquez/client/models/JobMeta.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/models/JsonGenerator.java
  clients/java/src/test/java/marquez/client/models/ModelGenerator.java
Labels: api, client/java

#2810 Web: Data Quality
  web/src/components/core/copy/MqCopy.tsx
  web/src/components/core/date-picker/MqDatePicker.tsx
  web/src/components/core/tooltip/MQTooltip.tsx
  web/src/components/datasets/Assertions.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/jobs/Runs.tsx
  web/src/components/namespace-select/NamespaceSelect.tsx
  web/src/helpers/nodes.ts
  web/src/i18n/config.ts
  web/src/routes/column-level/ColumnLevelDrawer.tsx
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/table-level/TableLineageDatasetNode.tsx
  web/src/routes/table-level/TableLineageJobNode.tsx
  web/src/types/api.ts
Labels: feature, web, v2.UI

#2812 Visual tweaks after DQ update
  web/src/components/core/chip/MqChip.tsx
  web/src/components/core/tooltip/MQTooltip.tsx
  web/src/components/jobs/RunStatus.tsx
  web/src/components/search/Search.tsx
  web/src/components/search/SearchListItem.tsx
  web/src/helpers/nodes.ts
  web/src/routes/column-level/ActionBar.tsx
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/events/Events.tsx
  web/src/routes/jobs/Jobs.tsx
  web/src/routes/table-level/ActionBar.tsx
  web/src/routes/table-level/TableLineageDatasetNode.tsx
  web/src/routes/table-level/TableLineageJobNode.tsx
Labels: web

#2813 Various dataset tags improvements
  web/src/components/datasets/DatasetTags.tsx
Labels: web

#2816 Update changelog and fix changelog script in dev
  CHANGELOG.md
  dev/get_changes.py
  dev/requirements.txt
Labels: docs

#2815 Update Slack links
  CODE_QUALITY_AND_SECURITY.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  docs/v2/docusaurus.config.js
  docs/v2/src/pages/about/index.mdx
  docs/v2/src/pages/index.tsx
  examples/airflow/airflow.md
  proposals/README.md
Labels: docs, proposal, example

#2818 Fixes search endpoint parameters
  web/src/components/search/Search.tsx
Labels: web

#2820 Fix scroll issues for drawer and home pages
  web/src/components/core/screen-load/MqScreenLoad.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/jobs/JobDetailPage.tsx
  web/src/routes/column-level/ColumnLevel.tsx
  web/src/routes/column-level/ColumnLevelDrawer.tsx
  web/src/routes/datasets/Datasets.tsx
  web/src/routes/jobs/Jobs.tsx
  web/src/routes/table-level/TableLevel.tsx
Labels: web, v2.UI

#2777 Add guidance to the main README and the Docs for Windows users
  README.md
  docs/v2/README.md
  docs/v2/docs/quickstart/index.mdx
Labels: docs

#2751 Make db port configurable via `POSTGRES_PORT`
  .circleci/api-load-test.sh
  .circleci/config.yml
  .circleci/db-migration.sh
  .env.example
  docker-compose.db.yml
  docker-compose.dev.yml
  docker-compose.yml
  docker/up.sh
  docs/v2/docs/quickstart/index.mdx
  marquez.dev.yml
Labels: docs, docker

#2824 Optimize query: JobDao FindJobByName
  api/src/main/java/marquez/db/JobDao.java
Labels: api, db.perf

#2822 Allow customization of Apache HTTP in Java client
  clients/java/README.md
  clients/java/src/main/java/marquez/client/MarquezClient.java
  clients/java/src/main/java/marquez/client/MarquezHttp.java
  clients/java/src/test/java/marquez/client/MarquezClientTest.java
  clients/java/src/test/java/marquez/client/MarquezHttpTest.java
Labels: docs, client/java
