Repository MarquezProject/marquez, pull requests merged in 2024-02, with the labels that each got.

#2742 api: fill data in column lineage input nodes.
  api/src/main/java/marquez/db/models/ColumnLineageNodeData.java
  api/src/main/java/marquez/service/ColumnLineageService.java
  api/src/main/java/marquez/service/models/NodeData.java
  api/src/test/java/marquez/service/ColumnLineageServiceTest.java
Labels: api

#2729 Add dataset field level tags to UI
  web/src/components/core/text/MqText.tsx
  web/src/components/core/tooltip/MQTooltip.tsx
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetTags.tsx
  web/src/i18n/config.ts
  web/src/store/actionCreators/actionTypes.ts
  web/src/store/actionCreators/index.ts
  web/src/store/reducers/datasets.ts
  web/src/store/requests/datasets.ts
  web/src/store/sagas/index.ts
Labels: web

#2727 Minor UI enhancements
  web/package-lock.json
  web/package.json
  web/src/components/core/code/MqCode.tsx
  web/src/components/core/json-view/MqJsonView.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetTags.tsx
  web/src/components/jobs/RunInfo.tsx
  web/src/i18n/config.ts
  web/src/routes/table-level/layout.ts
Labels: docs, web

#2678 Upgrade docker/down.sh to compose v2
  docker/down.sh
Labels: docker

#2750 Quality of life updates for new lineage graph
  web/libs/graph/src/components/ZoomPanSvg/ZoomPanSvg.tsx
  web/src/routes/column-level/ZoomControls.tsx
  web/src/routes/table-level/ActionBar.tsx
  web/src/routes/table-level/TableLevel.tsx
Labels: web, v2.UI

#2696 add proposal for dataset schema versions
  proposals/2676-version-dataset-schemas-separately.md
Labels: docs, proposal, db.perf

#2753 Improve visual display for lineage
  web/src/components/core/tooltip/MQTooltip.tsx
  web/src/helpers/theme.ts
  web/src/routes/table-level/TableLevel.tsx
  web/src/routes/table-level/TableLineageDatasetNode.tsx
  web/src/routes/table-level/TableLineageJobNode.tsx
  web/src/routes/table-level/layout.ts
Labels: web

#2754 Minor dataset tags revisions
  web/src/components/datasets/DatasetDetailPage.tsx
  web/src/components/datasets/DatasetInfo.tsx
  web/src/components/datasets/DatasetTags.tsx
Labels: web, v2.UI
